@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffff0;
  --foreground: #000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
